@import url('https://fonts.googleapis.com/css?family=Tangerine');

body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  /* font-family: 'permanent Marker', cursive; */
  font-family: 'Tangerine', serif;
  font-size: 48px;
}
